body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
#info {
    position: relative;
    float: right;
    padding: 10px;
    border-bottom-left-radius: 3px;
    font-size: 12px;
    text-align: right;
    color: #222;
    background: #fff9;
    font-family: sans;
}
ul{
    list-style: none;
}
